# ==============================================================================
# COMMON CONFIGURATION (MARKETPLACE)
# ==============================================================================

# --- Application Profile ---
SPRING_PROFILE=docker

# ==============================================================================
# DATABASES & CACHE
# ==============================================================================

# --- PostgreSQL (Auth, User, Order Services) ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

# --- MongoDB (Payment Service) ---
# Имя хоста 'mongo-db' должно совпадать с именем сервиса в docker-compose
MONGODB_URI=mongodb://mongo-db:27017/payment_db

# --- Redis (User, Order Services) ---
# Имя хоста 'redis-cache' должно совпадать с именем сервиса в docker-compose
REDIS_HOST=redis-cache
REDIS_PORT=6379

# ==============================================================================
# SECURITY (JWT)
# ==============================================================================
# Используется всеми сервисами для валидации токенов
JWT_ACCESS_SECRET=AFRpbjILk+NiHAXU95mFVTmPZAm8iFNL3eT9XmK4D5I=
JWT_REFRESH_SECRET=UklzSGNvbnRlbnQiLCJkYXRhIjoiZGVhZGJlZWYifQ==

# ==============================================================================
# INTERNAL SERVICE URLs (Service Discovery)
# ==============================================================================
# URL-адреса для общения между контейнерами внутри сети Docker
AUTH_SERVICE_URL=http://auth-service:8080
USER_SERVICE_URL=http://user-service:8080
ORDER_SERVICE_URL=http://order-service:8080
PAYMENT_SERVICE_URL=http://payment-service:8080

# ==============================================================================
# EXTERNAL INTEGRATIONS
# ==============================================================================
# URL эмулятора банковского API для сервиса платежей
EXTERNAL_BANK_API=http://www.randomnumberapi.com/api/v1.0/random?min=1&max=100&count=1